// ------------------------------------------------------------
// definition
$black: #201613;
$blue: #90cfd8;
$brown: #984704;
$green: #5b8e7d;
$white: #ffffff;
$yellow: #fcd368;

*{
    box-sizing: border-box;
}

.container, .row, .col,
.col-4, .col-5, .col-6, .col-7, .col-8,
ul, .h2, .h3, p{
    margin: 0;
    padding: 0;
}



@mixin btn-blue {
    border: 1px solid $blue;
    border-radius: 4px;
    padding: 0 18px;
    background-color: $blue;
    font-size: 18px;
    line-height: 2;
    color: $white;
    transition: all .2s;
}

@mixin btn-brown {
    border: 1px solid $brown;
    border-radius: 4px;
    padding: 0 18px;
    background-color: $brown;
    font-size: 18px;
    line-height: 2;
    color: $white;
    transition: all .2s;
}

@mixin btn-green{
    border: 1px solid $green;
    border-radius: 4px;
    padding: 0 18px;
    background-color: $green;
    font-size: 18px;
    line-height: 2;
    color: $white;
    transition: all .2s;
}

.btn{
    @include btn-blue;
}

.btn:hover{
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
}

.btn-brown{
    @include btn-brown;
}

.btn-brown:hover{
    border: 1px solid $brown;
    background-color: $white;
    color: $brown;
}

.btn-green{
    @include btn-green;
}

.btn-green:hover{
    border: 1px solid $green;
    background-color: $white;
    color: $green;
}

@mixin para ($font-size) {
    font-size: $font-size;
    line-height: 1.6;
    color: $black;
}

@mixin h2 ($color) {
    margin-bottom: 48px;
    font-size: 32px;
    font-weight: 350;
    color: $color;
}

// rwd

@media (min-width: 1240px){
    .container, .component, .row{
        max-width: 1200px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) and (max-width: 1239px){
    .container, .component, .row{
        max-width: 1080px;
        margin: 0 auto;
    }
}

@media (min-width: 1080px) and (max-width: 1199px){
    .container, .component, .row{
        max-width: 960px;
        margin: 0 auto;
    }
}

@media (min-width: 960px) and (max-width: 1079px){
    .container, .component, .row{
        max-width: 800px;
        margin: 0 auto;
    }
}

@media (min-width: 820px) and (max-width: 959px){
    .container, .component, .row{
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 819px){
    .container, .component, .row{
        max-width: 720px;
        margin: 0 auto;
    }
}

@media (min-width: 720px) and (max-width: 767px){
    .container, .component, .row{
        max-width: 640px;
        margin: 0 auto;
    }
}

@media (min-width: 641px) and (max-width: 719px){
    .container, .component, .row{
        max-width: 560px;
        margin: 0 auto;
    }
}

@media (max-width: 640px){
    .container, .component, .row{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 32px;
    }
}

.wrapper{
    overflow-x: hidden;
}

.row-full{
    width: 100%;
}

// ------------------------------------------------------------



// ------------------------------------------------------------
// header start

.navbar{
    width: 100%;
    height: 64px;
    padding: 0 16px;
    background-color: rgba($color: $white, $alpha: 0);
    position: fixed;
    z-index: 10;

    .navbar-toggler{
        width: 64px;
        height: 64px;
        border: 0;
        background-color: rgba($color: $white, $alpha: 0);
        background-image: url(../../images/toggle.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .navbar-toggler:focus{
        color: rgba($color: $white, $alpha: 0);
        border-color: rgba($color: $white, $alpha: 0);
        outline: none;
    }

    .navbar-nav{
        margin-right: auto;

        .nav-item{
            margin: 0 24px 0 0;
        }
    
        .nav-link{
            padding: 0;
            font-size: 18px;
            line-height: 48px;
            color: $blue;
            position: relative;
        }
    
        .nav-link:hover{
            color: $blue;
        }
    
        .nav-link:after{
            content: "";
            display: inline-block;
            width: 0;
            height: 3px;
            background-color: $blue;
            position: absolute;
            bottom: 8px;
            left: 0;
            transition: all .3s;
        }
        
        .nav-link:hover:after{
            width: 36px;
            position: absolute;
            left: 0;
        }
    
        .form-inline{
            margin-right: 16px;

            .form-control{
                margin-right: 16px;
                border: 1px solid $blue;
                color: $black;
            }
    
            .form-control:focus{
                outline: none;
                border: 1px solid $blue;
                box-shadow: 0 0 8px rgba($color: $blue, $alpha: 0.8);
            }
    
            ::placeholder{
                color: rgba($color: $black, $alpha: 0.5);
            }
        }
    }
}

@media (max-width: 992px){

    .navbar{
        padding: 0;
        background-color: rgba($color: $black, $alpha: 0.5);

        .navbar-toggler{
            margin-left: 16px;
        }

        .navbar-collapse{
            width: 100%;
            height: 100vh;
            padding-left: 16px;
            background-color: rgba($color: $black, $alpha: 0.5);
        }

        .navbar-nav{
            padding-left: 10px;
        }

        .form-inline{
            margin-top: 10px;
        }
    }
}

.color{
    background-color: rgba($color: $white, $alpha: 0.5);
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.5);
}

// header end
// ------------------------------------------------------------

// ------------------------------------------------------------
// junbotron start

.jumbotron{
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    background-image: url('../../images/jumbotron.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    .logo{
        width: 320px;
        height: 320px;
        background-image: url('../../images/logo.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.jumbotron::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: 0.5);
}

@media (min-width: 1280px) and (max-width: 1360px){
    .jumbotron{
        height: 900px;
    }
}

@media (min-width: 800px) and (max-width: 1279px){
    .jumbotron{
        height: 832px;
    }
}

@media (min-width: 641px) and (max-width: 799px){
    .jumbotron{
        height: 600px;
    }
}

@media (max-width: 640px){
    .jumbotron{
        height: 100vh;
        
        .logo{
            width: 240px;
            height: 240px;
        }
    }
}

// junbotron end
// ------------------------------------------------------------

// ------------------------------------------------------------
// salad start

.salad{
    margin: 0 auto;
    padding: 160px 0;
    font-size: 0;

    .info{
        width: 50%;
        margin-top: 64px;
        padding: 24px;
        display: inline-block;
        vertical-align: top;
        text-align: right;
        position: relative;

        .h2{
            @include h2($blue);
        }

        .para{
            @include para (18px);
            margin-bottom: 48px;
        }

        .illustration{
            width: 300px;
            height: 300px;
            background-image: url('../../images/illustration/brunch.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: .5;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .frame{
        display: inline-block;
        vertical-align: top;
        width: 50%;

        .image{
            width: 100%;
            height: 640px;
            border-radius: 0 160px;
            background-image: url('../../images/brunch.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }
    }
}

@media (max-width: 1199px){
    .salad{
        .info{
            .illustration{
                display: none;
            }
        }
    }
}

@media (min-width: 1080px) and (max-width: 1279px){
    .salad{
        .frame{
            .image{
                border-radius: 0 120px;
            }
        }
    }
}

@media (min-width: 880px) and (max-width: 1079px){
    .salad{
        .frame{
            .image{
                height: 560px;
                border-radius: 0 80px;
            }
        }
    }
}

@media (min-width: 840px) and (max-width: 879px){
    .salad{
        .info{
            margin-top: 16px;
        }

        .frame{
            .image{
                height: 480px;
                border-radius: 0 72px;
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 839px){
    .salad{
        .info{
            margin-top: 16px;
            padding: 24px 16px 24px 0;

            .h2{
                margin-bottom: 24px;
            }

            .para{
                @include para (15px);
            }
        }

        .frame{
            .image{
                height: 440px;
                border-radius: 0 80px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 799px){
    .salad{
        .info{
            margin-top: 16px;
            padding: 24px 16px 24px 0;

            .h2{
                margin-bottom: 24px;
            }

            .para{
                @include para (15px);
            }
        }

        .frame{
            .image{
                height: 440px;
                border-radius: 0 80px;
            }
        }
    }
}

@media (min-width: 641px) and (max-width: 767px){
    .salad{
        .row{
            max-width: 602px;
        }

        .info{
            margin-top: 16px;
            padding: 24px 16px 24px 0;

            .h2{
                margin-bottom: 24px;
            }

            .para{
                @include para (15px);
            }
        }

        .frame{
            .image{
                height: 440px;
                border-radius: 0 56px;
            }
        }
    }
}

@media (max-width: 640px){
    .salad{

        .row{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .info{
            width: 100%;
            text-align: left;

            .h2{
                margin-bottom: 24px;
            }

            .para{
                @include para (15px);
            }
        }

        .frame{
            width: 100%;

            .image{
                width: 100%;
                height: 560px;
                border-radius: 0 80px;
            }
        }
    }
}

// salad end
// ------------------------------------------------------------

// ------------------------------------------------------------
// salad-items start

.salad-items{
    margin: 0 auto 160px auto;
    padding: 0 41px;

    .row{
        position: relative;
    }

    .image{
        width: 300px;
        height: auto;
    }

    .info{
        padding:0 24px;
        white-space: nowrap;

        .h3{
            margin-bottom: 16px;
            font-weight: 350;
            color: $brown;
            line-height: 1.5;
        }

        .para{
            @include para (16px);
        }

        .para:last-of-type{
            margin-bottom: 16px;
        }
    }

    .set{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .left-side{
        width: 600px;
        display: inline-block;
        vertical-align: top;
        font-size: 0;

        .left-top-side{
            padding-left: 160px;
        }
    }

    .right-side{
        width: calc(100% - 600px);
        padding-top: 160px;
        display: inline-block;
        vertical-align: top;
        font-size: 0;

        .set{
            flex-direction: row-reverse;
        }
    }

    .illustration-2{
        width: 300px;
        height: 300px;
        background-image: url('../../images/illustration/brunch2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .5;
        position: absolute;
        bottom: -336px;
        left: -360px;
        z-index: -1;
    }

    .illustration-3{
        width: 192px;
        height: 192px;
        background-image: url('../../images/illustration/coffee-beans.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .5;
        position: absolute;
        top: 16px;
        right: -332px;
        z-index: -1;
    }

    .illustration-4{
        width: 272px;
        height: 272px;
        background-image: url('../../images/illustration/coffee-beans2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: .5;
        position: absolute;
        bottom: -160px;
        right: 240px;
        z-index: -1;
    }
}

@media (min-width: 1480px) and (max-width: 1659px){
    .salad-items{
        .illustration-2{
            left: -240px;
        }

        .illustration-3{
            right: -216px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1479px){
    .salad-items{
        .illustration-2{
            left: -264px;
        }

        .illustration-3{
            right: -160px;
        }
    }
}

@media (max-width: 1199px){
    .salad-items{
        .illustration-2,
        .illustration-3,
        .illustration-4{
            display: none;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1240px){
    .salad-items{
        padding: 0;

        .right-side{
            padding-top: 216px;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1199px){
    .salad-items{
        padding: 0;

        .left-side{   
            .left-top-side{
                padding-left: 0;
            }

            .left-bottom-side{
                padding-top: 160px;
            }
        }

        .right-side{
            padding-top: 230px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .salad-items{
        padding: 0;

        .image{
            width: 224px;
            height: 224px;
        }

        .set{
            flex-direction: column;
        }

        .left-side{
            width: calc(100% / 3 * 2);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;

            .left-top-side{
                padding: 48px 0 0 0;
            }
        }

        .right-side{
            width: calc(100% / 3);
            padding-top: 48px;

            .set{
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 581px) and (max-width: 767px){
    .salad-items{
        padding: 0;

        .left-side{
            width: 100%;

            .left-top-side{
                padding: 0;

                .set{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 48px;
                }
            }

            .left-bottom-side{
                .set{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 48px;
                }
            }
        }

        .right-side{
            width: 100%;
            padding: 0;

            .set{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 580px){
    .salad-items{
        padding: 0;

        .image{
            margin-bottom: 16px;
        }

        .left-side{
            width: 100%;

            .left-top-side{
                padding: 0;

                .set{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 48px;
                }
            }

            .left-bottom-side{
                .set{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 48px;
                }
            }
        }

        .right-side{
            width: 100%;
            padding: 0;

            .set{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// salad-items end
// ------------------------------------------------------------

.coffee{
    width: 100%;
    clip-path: polygon(70% 0, 100% 20%, 100% 100%, 0 100%, 0 30%);
    background-image: url('../../images/coffee.jpg');
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .info{
        padding: 240px 0 160px 120px;
        font-size: 0;

        .h2{
            @include h2 ($blue);
        }

        .para{
            @include para (18px);
            color: $white;
            white-space: nowrap;
        }

        .btn{
            @include btn-blue;
        }

        .btn:hover{
            border: 1px solid $blue;
            background-color: $white;
            color: $blue;
        }
    }

    .item{
        width: calc(544px + 320px);
        height: 100%;
        padding-top: 160px;

        .frame{
            width: 272px;
            height: 272px;
            border-radius: 50%;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.5);
            background-color: #000000;
            overflow: hidden;

            .image{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 0.75;
                transition: all .2s;
                overflow: hidden;


                .h3{
                    text-align: center;
                    background-color: rgba($color: $black, $alpha: 0.5);
                    font-size: 24px;
                    font-weight: 350;
                    color: $white;
                    line-height: 272px;
                }
            }
        }

        .frame:hover .image{
            transform: scale(1.1);
            opacity: 1;
        }

        .frame:hover .h3{
            background-color: rgba($color: $black, $alpha: 0);
            color: rgba($color: $white, $alpha: 0);
        }

        .frame.first{
            margin-left: 144px;
        }

        .frame.third{
            position: relative;
            bottom: 96px;
        }
    }
}

@media (min-width: 1436px) and (max-width: 1540px){
    .coffee{
        .item{
            width: calc(544px + 240px);
        }
    }
}

@media (min-width: 1340px) and (max-width: 1435px){
    .coffee{
        .info{
            padding-left: 120px;
        }

        .item{
            width: calc(544px + 240px);

            .frame{
                width: 240px;
                height: 240px;

                .image{
                    .h3{
                        line-height: 240px;
                    }
                }
            }

            .frame.third{
                margin-left: 48px;
                position: relative;
                right: 0;
                bottom: 96px;
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1339px){
    .coffee{
        display: block;
        position: relative;

        .info{
            padding: 240px 0 160px 72px;
        }

        .item{
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(544px + 192px);

            .frame{
                width: 240px;
                height: 240px;

                .image{
                    .h3{
                        line-height: 240px;
                    }
                }
            }

            .frame.first,
            .frame.second,
            .frame.third{
                margin: 0 auto;
            }

            .frame.third{
                position: static;
            }
        }
    }
}

@media (min-width: 1080px) and (max-width: 1279px){
    .coffee{
        display: block;
        clip-path: polygon(70% 0, 100% 15%, 100% 100%, 0 100%, 0 25%);
        position: relative;

        .item{
            width: calc(544px + 240px);
            height: 600px;
            padding-top: 176px;
            position: absolute;
            bottom: 36px;
            right: 0;

            .row:nth-child(2){
                margin-top: -80px;
            }

            .frame{
                width: 240px;
                height: 240px;

                .image{
                    .h3{
                        line-height: 240px;
                    }
                }
            }

            .frame.first,
            .frame.second,
            .frame.third{
                margin: 0 auto;
            }

            .frame.third{
                position: static;
            }
        }
    }
}

@media (min-width: 960px) and (max-width: 1079px){
    .coffee{
        display: block;
        clip-path: polygon(70% 0, 100% 15%, 100% 100%, 0 100%, 0 20%);
        position: relative;

        .info{
            padding: 240px 0 240px 120px;
        }

        .item{
            width: calc(544px + 240px);
            height: 600px;
            padding-top: 176px;
            position: absolute;
            bottom: 80px;
            right: 0;

            .row:nth-child(2){
                margin-top: -80px;
            }

            .frame{
                width: 240px;
                height: 240px;

                .image{
                    .h3{
                        line-height: 240px;
                    }
                }
            }

            .frame.first,
            .frame.second,
            .frame.third{
                margin: 0 auto;
            }

            .frame.third{
                position: static;
            }
        }
    }
}

@media (min-width: 880px) and (max-width: 960px){
    .coffee{
        display: block;
        clip-path: polygon(70% 0, 100% 10%, 100% 100%, 0 100%, 0 15%);
        position: relative;

        .info{
            width: 100%;
            padding-bottom: 320px;
        }

        .item{
            width: 100%;
            height: auto;
            position: absolute;
            right: -120px;
            bottom: 96px;

            .frame{
                width: 240px;
                height: 240px;

                .image{
                    .h3{
                        line-height: 240px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 879px){
    .coffee{
        display: block;
        clip-path: polygon(70% 0, 100% 10%, 100% 100%, 0 100%, 0 15%);
        position: relative;

        .info{
            width: 100%;
            padding-bottom: 360px;
        }

        .item{
            width: 100%;
            height: auto;
            position: absolute;
            right: -120px;
            bottom: 96px;

            .frame{
                width: 216px;
                height: 216px;

                .image{
                    .h3{
                        line-height: 216px;
                    }
                }
            }
        }
    }
}

@media (min-width: 720px) and (max-width: 767px){
    .coffee{
        display: block;
        clip-path: polygon(70% 0, 100% 10%, 100% 100%, 0 100%, 0 15%);
        position: relative;

        .info{
            width: 100%;
            padding-left: 80px;
            padding-bottom: 360px;
        }

        .item{
            width: 100%;
            height: auto;
            position: absolute;
            right: -120px;
            bottom: 96px;

            .frame{
                width: 200px;
                height: 200px;

                .image{
                    .h3{
                        line-height: 200px;
                    }
                }
            }

            .frame.first{
                margin-left: 128px;
            }
        }
    }
}

@media (min-width: 641px) and (max-width: 719px){
    .coffee{
        display: block;
        clip-path: polygon(70% 0, 100% 10%, 100% 100%, 0 100%, 0 15%);
        position: relative;

        .info{
            width: 100%;
            padding-left: 24px;
            padding-bottom: 360px;
        }

        .item{
            width: 100%;
            height: auto;
            position: absolute;
            right: 0;
            bottom: 96px;

            .frame{
                width: 200px;
                height: 200px;

                .image{
                    .h3{
                        line-height: 200px;
                    }
                }
            }

            .frame.first,
            .frame.second,
            .frame.third{
                margin: 0 auto;
            }

            .frame.third{
                position: static;
            }
        }
    }
}

@media (max-width: 640px){
    .coffee{
        
        clip-path: polygon(70% 0, 100% 2%, 100% 100%, 0 100%, 0 7%);
        flex-direction: column;

        .info{
            width: 100%;
            padding: 152px 0 72px 24px;

            .for-641px{
                display: none;
            }
        }

        .item{
            width: 100%;
            height: auto;
            padding: 0 0 96px 0;

            .row:nth-child(2){
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .row{
                .col-6{
                    max-width: 100%;
                }
            }

            .frame.first,
            .frame.second,
            .frame.third{
                margin: 0 auto 48px auto;
            }

            .frame.third{
                position: static;
                margin: 0 auto;
            }
        }
    }
}

// coffee end
// ------------------------------------------------------------

// ------------------------------------------------------------
// menu start

.menu{
    padding: 160px 80px;

    .frame{
        height: 720px;
        position: relative;
    }

    .menu-cover{
        width: 50%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 160px;
    }

    .menu-content{
        width: 50%;
        height: auto;
        position: absolute;
        top: 0;
        right: 160px;
    }
}

@media (min-width: 1440px) and (max-width: 1680px){
    .menu{
        .frame{
            height: 640px;
        }
    }
}

@media (min-width: 1366px) and (max-width: 1439px){
    .menu{
        .frame{
            height: 664px;
        }
    }
}

@media (min-width: 1240px) and (max-width: 1365px){
    .menu{
        .frame{
            height: 526px;
        }
    
        .menu-cover{
            left: 120px;
            top: 120px;
        }
    
        .menu-content{
            right: 120px;
        }
    }
}

@media (min-width: 1196px) and (max-width: 1239px){
    .menu{
        .frame{
            height: 526px;
        }
    
        .menu-cover{
            left: 120px;
            top: 120px;
        }
    
        .menu-content{
            right: 120px;
        }
    }
}

@media (min-width: 1080px) and (max-width: 1195px){
    .menu{
        .frame{
            height: 526px;
        }
    
        .menu-cover{
            width: 50%;
            left: 96px;
            top: 160px;
        }
    
        .menu-content{
            width: 50%;
            right: 96px;
        }
    }
}

@media (min-width: 960px) and (max-width: 1079px){
    .menu{
        .frame{
            height: 486px;
        }
    
        .menu-cover{
            left: 96px;
            top: 160px;
        }
    
        .menu-content{
            right: 96px;
        }
    }
}

@media (min-width: 820px) and (max-width: 959px){
    .menu{
        padding: 160px 56px;
        .frame{
            height: 624px;
        }
    
        .menu-cover{
            width: 66%;
            left: 56px;
            top: 232px;
        }
    
        .menu-content{
            width: 66%;
            right: 56px;
        }
    }
}

@media (min-width: 641px) and (max-width: 819px){
    .menu{
        padding: 160px 56px;

        .frame{
            height: auto;
            position: static;
        }
    
        .menu-cover,
        .menu-content{
            width: 75%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        .menu-cover{
            margin-bottom: 48px;
        }
    }
}

@media (max-width: 640px){
    .menu{
        padding: 120px 56px;

        .frame{
            height: auto;
            position: static;
        }
    
        .menu-cover,
        .menu-content{
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        .menu-cover{
            margin-bottom: 48px;
        }
    }
}

// menu end
// ------------------------------------------------------------

// ------------------------------------------------------------
// space start

.space:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: $white, $alpha: 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.space{
    width: 100%;
    height: 880px;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 75%);
    background-image: url(../../images/space.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;

    .info::before{
        content: "";
        display: inline-block;
        width: 480px;
        height: 360px;
        border: 3px solid $yellow;
        position: absolute;
        top: 24px;
        right: 24px;
    }

    .info{
        text-align: left;
        width: 480px;
        height: 360px;
        padding: 40px;
        background-color: rgba($color: $black, $alpha: 0.8);
        position: absolute;
        top: 50%;
        right: 120px;
        transform: translateY(-50%);

        .h2{
            @include h2 ($blue);
        }

        .para{
            @include para (18px);
            color: $white;
        }

        .btn{
            position: relative;
        }
    }
}

@media (min-width: 960px) and (max-width: 1200px){
    .space{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 80%);
    }
}

@media (min-width: 820px) and (max-width: 959px){
    .space{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 85%);
    }
}

@media (min-width: 768px) and (max-width: 819px){
    .space{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 85%);
    }
}

@media (min-width: 641px) and (max-width: 767px){
    .space{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 85%);

        .info{
            right: 72px;
        }
    }
}

@media (min-width: 568px) and (max-width: 640px){
    .space{
        height: 720px;
        padding: 96px 24px 112px 24px;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 85%);
        position: static;

        .info{
            margin: 0 auto;
            position: relative;
            right: 0;
        }
    }
}

@media (max-width: 567px){
    .space{
        height: 720px;
        padding: 96px 24px 112px 24px;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 85%);
        position: static;

        .info:before{
            width: 336px;
            height: 252px;
            top: 16px;
            right: 16px;
        }

        .info{
            width: 336px;
            height: 252px;
            margin: 0 auto;
            position: relative;
            right: 0;

            .h2{
                font-size: 24px;
                margin-bottom: 32px;
            }

            .for-567px{
                display: none;
            }
        }
    }
}

// space end
// ------------------------------------------------------------

// ------------------------------------------------------------
// space items start

.space-items{
    margin: 0 auto;
    padding: 160px 0;
    font-size: 0;

    .nav-tabs{
        border-bottom: 1px solid $brown;
        margin-bottom: 40px;

        .nav-item{
            margin-bottom: -2px;
        }

        .nav-link{
            padding: 8px 24px;
            font-size: 18px;
            color: rgba($color: $brown, $alpha: 0.5);
        }

        .nav-link:hover{
            border-color: rgba($color: $brown, $alpha: 0.3);
        }

        .nav-link.active{
            color: $brown;
            border-color: $brown $brown $white;
        }
    }

    .tab-content{
        .set{
            margin-bottom: 24px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

                .frame{
                    width: 372px;
                    height: 210px;
                    position: relative;
                    overflow: hidden;
        
                    .image{
                        width: 100%;
                        height: auto;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

            .info{
                padding: 26px 0 26px 24px;

                .h4{
                    margin-bottom: 16px;
                    font-weight: 350;
                    color: $brown;
                }

                .para{
                    @include para(16px);
                    text-align: justify;
                    margin-bottom: 16px;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1240px){
    .space-items{
        .tab-content{
            .para{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                white-space: normal;
                overflow: hidden;
            }
        }
    }
}

@media (min-width: 1080px) and (max-width: 1199px){
    .space-items{
        .tab-content{
            .set{
                .info{
                    padding: 8px 0 8px 24px;
    
                    .para{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media (min-width: 960px) and (max-width: 1079px){
    .space-items{
        .tab-content{
            .set{
                .info{
                    padding: 8px 0 8px 24px;
    
                    .para{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media (min-width: 800px) and (max-width: 959px){
    .space-items{
        .tab-content{
            .set{
                .info{
                    padding: 8px 0 8px 24px;
    
                    .para{
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media (min-width: 720px) and (max-width: 799px){
    .space-items{
        .tab-content{
            .set{
                .frame{
                    width: 320px;
                    height: 180px;
                }

                .info{
                    padding: 8px 0 8px 24px;
    
                    .para{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 719px){
    .space-items{
        .tab-content{
            .set{
                .frame{
                    width: 240px;
                    height: 135px;
                }

                .info{
                    padding: 8px 0 8px 24px;

                    .h4{
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
    
                    .para{
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@media (max-width: 639px){
    .space-items{

        .nav-tabs{
            width: 344px;
            margin: 0 auto 40px auto;
        }
        .tab-content{
            .set{
                margin-bottom: 32px;
                flex-direction: column;

                .frame{
                    width: 320px;
                    height: 180px;
                    margin-bottom: 16px;
                }

                .info{
                    width: 320px;
                    padding: 0;

                    .h4{
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
    
                    .para{
                        margin-bottom: 8px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

// space items end
// ------------------------------------------------------------

// ------------------------------------------------------------
// contect start

.contect{
    width: 100%;
    height: 832px;
    font-size: 0;
    background-image: url(../../images/contect.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    position: relative;

    .h2{
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 350;
        color: $blue;
        line-height: 2;
        text-align: center;
    }

    .message{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);

        .set{
            margin-bottom: 24px;

            .label{
                display: inline-block;
                vertical-align: top;
                margin: 0;
                border-radius: 4px 0 0 4px;
                padding: 0 8px;
                font-size: 18px;
                line-height: 2;
                color: $black;
                background-color: rgba($color: $white, $alpha: 0.7);
                position: relative;
            }

            .line{
                display: inline-block;
                width: 1px;
                height: 20px;
                background-color: rgba($color: $black, $alpha: 0.5);
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
    
            .form-control{
                display: inline-block;
                vertical-align: top;
                width: 360px;
                height: auto;
                border: 0;
                border-radius: 0 4px 4px 0;
                padding: 0 8px;
                font-size: 18px;
                line-height: 2;
                color: rgba($color: $black, $alpha: 0.8);
                background-color: rgba($color: $white, $alpha: 0.7);
            }
    
            .form-control:focus{
                outline: none;
                box-shadow: 0 0 0 rgba($color: $white, $alpha: 0);
            }

            .form-control.name{
                width: 216px;
                margin-right: 24px;
            }

            .gender-group{
                width: calc(360px - 216px - 24px);

                .form-check-inline{
                    margin: 0;
                }
    
                .form-check{
                    font-size: 16px;
                    color: $black;
                    line-height: 36px;
    
                    .form-check-input{
                        display: none;
                    }

                    .form-check-input + label span{
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-top: 5p;
                        margin-right: 4px;
                        border-radius: 50%;
                        background-color: rgba($color: $white, $alpha: 0.7);
                    }

                    .form-check-input:checked + label span{
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background-color: rgba($color: $white, $alpha: 0.7);
                        background-image: url(../../images/check.svg);
                        background-position: center;
                    }
                }
            }
        }

        .textarea{
            width: calc(360px + 52px);
            height: 240px;
            display: block;
            margin-bottom: 24px;
            border: 0;
            border-radius: 4px;
            padding: 8px;
            background-color: rgba($color: $white, $alpha: 0.7);
            font-size: 16px;
            line-height: 1.5;
            color: $black;
        }

        .textarea:focus{
            outline: none;
        }

        .btn{
            margin-left: calc(360px + 52px - 74px);
        }
    }
}

.contect:before{
    content: "";
    width: 100%;
    height: 832px;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: $white, $alpha: 0.3);
}

@media (min-width: 640px) and (max-width: 800px){
    .contect{
    clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 639px){
    .contect{
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (min-width: 400px) and (max-width: 440px){
    .contect{
        .h2{
            font-size: 21px;
        }
    
        .message{
            .set{
                .form-control{
                    width: 320px;
                }

                .form-control.name{
                    width: 176px;
                    margin-right: 24px;
                }

                .gender-group{
                    width: calc(320px - 176px - 24px);
                }
            }

            .textarea{
                width: calc(320px + 52px);
            }

            .btn{
                margin-left: calc(320px + 52px - 74px);
            }
        }
    }
}

@media (max-width: 399px){
    .contect{
        .h2{
            font-size: 21px;
        }

        .message{
            .set{
                .form-control{
                    width: 288px;
                }

                .form-control.name{
                    width: 160px;
                    margin-right: 16px;
                }

                .gender-group{
                    width: calc(288px - 160px - 16px);
                }
            }

            .textarea{
                width: calc(288px + 52px);
            }

            .btn{
                margin-left: calc(288px + 52px - 74px);
            }
        }
    }
}

// contect end
// ------------------------------------------------------------

// ------------------------------------------------------------
// location start

.map{
    width: 100%;
    height: 640px;

    .iframe{
        width: 100%;
        height: 100%;
    }
}

// location end
// ------------------------------------------------------------

// ------------------------------------------------------------
// footer start

.footer{
    width: 100%;
    height: 160px;
    padding-top: 48px;
    background-color: $black;
    text-align: center;
    color: $white;

    .info{
        margin: 0 auto;
        width: 720px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .para{
            font-size: 18px;
            font-weight: 300;
            color: $yellow;
            line-height: 2;
        }

        .copyright{
            font-size: 16px;
            font-weight: 350;
            color: $white;
            line-height: 2;
        }
    }
}

@media (max-width: 767px){
    .footer{
        height: 244px;

        .info{
            width: 100%;
            margin-bottom: 16px;
            flex-direction: column;
            align-items: center;
            line-height: 1.2;
        }
    }
}

// footer end
// ------------------------------------------------------------